<div class="sub-footer">
  <div class="container">
    <div class="footer-sections">
      <div class="footer-section">
        <h4>Mobile Apps</h4>
        <div class="app-badges">
          <a href="https://play.google.com/store/apps/details?id=md.cook.android"><img src="/google-play-badge.png" alt="Download on Google Play" style="width: 100px;"></a>
          <a href="https://apps.apple.com/us/app/cooklangapp/id1598799259#?platform=iphone"><img src="/app-store-badge.png" alt="Download on App Store" style="width: 100px;"></a>
        </div>
      </div>

      <div class="footer-section">
        <h4>Follow us</h4>
        <div class="social-links">
          <a href="https://github.com/cooklang">GitHub</a>
          <a href="https://discord.gg/fUVVvUzEEK">Discord</a>
          <a href="https://www.reddit.com/r/cooklang/">Reddit</a>
          <a href="https://bsky.app/profile/cooklang.bsky.social">BlueSky</a>
          <a href="https://mas.to/@cooklang">Mastodon</a>
          <a href="https://x.com/cooklangorg">X (Twitter)</a>
          <a href="/blog/index.xml">RSS Feed</a>
        </div>
      </div>
    </div>
  </div>
</div>
