{{$currentNode := .}}
{{$currentSection := .Section}}
<div class="docs-menu">
  <h4>{{ .Section | humanize }}</h4>
  <ul>
    {{/* First, show pages directly in the section (not in subdirectories) */}}
    {{ range where .Site.RegularPages "Section" .Section }}
      {{ if not (strings.Contains .File.Dir "commands/") }}
        {{ if not (eq .File.LogicalName "_index.md") }}
          <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
    
    {{/* Show the commands subsection if it exists (for CLI) */}}
    {{ $commandsSection := .Site.GetPage (printf "/%s/commands" .Section) }}
    {{ if $commandsSection }}
      <li class="has-children">
        <a href="{{ $commandsSection.Permalink }}">{{ $commandsSection.Title }}</a>
        <ul class="sub-menu">
          {{ range sort $commandsSection.RegularPages "Weight" }}
            <li class="{{ if eq .File.UniqueID $currentNode.File.UniqueID }}active {{ end }}">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
    
  </ul>
</div>